/*  
 
 ################################################################
 ##                                                            ##
 ##                 __ _   _ __    _ __    ___                 ##
 ##                / _` | | '_ \  | '_ \  / __|                ##
 ##               | (_| | | | | | | | | | \__ \                ##
 ##                \__,_| |_| |_| |_| |_| |___/                ##
 ##                                                            ##
 ##                                                            ##
 ################################################################
 ##                                                            ##
 ##    Code by andresbarrones · Visit me on https://anns.es    ##
 ##                                                            ##
 ################################################################
   
 */

	/* Digital Font */

		@font-face{
		 font-family:'Digital-7';
			src: url('../fonts/Digital-7/Digital-7.ttf');
		}

		* {
			margin: 0;
			padding: 0;
		}

		body {
			color: #ffffff;
			background-color: #000000;
			font-family: 'Digital-7', sans-serif;
			text-align: center;
		}


	/* Clock */

		div.clock {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 75%;
			height: auto;
			border: solid 0px #ffffff;
		}

		div.clock div {
			display: inline-block;
			position: relative;
		}

		div.clock div p {
			font-size: 16vw;
			position: relative;
			z-index: 100;
		}

		div.clock .placeholder {
			color: #202020;
			position: absolute;
			top: 0px;
			z-index: 50;
		}

	/* End Clock */
